body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.addHorRule {
  border: 1px solid green ;
  width: 770px;
}

.addRoleBox, .addRoleBoxDisp, .addRoleBoxDelete, .addRoleBoxModify, .addAllRoleBoxDisp {
  border: 1px solid black ; 
  width: 750px; 
  padding: 10px;
}

.addRoleBox #txtRole, .addRoleBoxDisp #txtRoleDisp, .addRoleBoxModify #txtRoleModify, .addRoleBoxDelete #txtRoleDelete, .addAllRoleBoxDisp #txtAllRoleDisp {
  width: 420px ;
  margin: 10px;
}

.addRoleBox #divRoles, .addRoleBoxDisp #divRolesDisp, .addRoleBoxModify #divRolesModify, .addAllRoleBoxDisp #divAllRolesDisp {
  border: 1px solid black ; 
  width: 500px; 
  padding: 10px;
}

.addRoleTitle {
  font-size: 20px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: green;
} 

.addUserBox {
  border: 1px solid black ; 
  width: 750px; 
  padding: 10px;
}

.addUserBox #txtUserIDAdd, .addUserBox #txtNodeIDAdd, .addUserBox #txtUserIDDelete, .addUserBox #txtNodeIDDelete, .addUserBox #txtRoleDelegDelete {
  width: 420px ;
  margin: 10px;
}

.addUserBox #txtUserIDCheck, .addUserBox #txtNodeIDCheck, .addUserBox #txtUserPermCheck, .addUserBox #txtUserPermCheckResult, .addUserBox #txtDelegIDAdd, .addUserBox #txtRoleDelegAdd {
  width: 420px ;
  margin: 10px;
}

.addUserBox #divUserRoles, .addUserBox #divUserRolesModify, .addUserBox #divUserRolesAssigned, .addUserBox #divUserRolesDelegation {
  border: 1px solid black ; 
  width: 500px; 
  padding: 10px;
}

.addUserBox #txtUserIDInfo, .addUserBox #txtNodeIDInfo, .addUserBox #txtRoleDelegInfo, .addUserBox #txtDelegatorInfo, .addUserBox #txtParentDelegInfo {
  width: 420px ;
  margin: 10px;
}